[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-theme-ref = {file = ".", editable = true}

[dev-packages]
tox = "*"
mypy = "*"
autopep8 = "*"
setuptools-scm = "*"

[requires]
python_version = "3.11"
