[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-theme-ref = {file = ".", editable = true}

[dev-packages]
tox = "~=4.24.2"
mypy = "~=1.15.0"
autopep8 = "~=2.3.2"
setuptools-scm = "~=8.2.0"
pipenv = "~=2024.4.1"
pylint = "~=3.3.6"

[requires]
python_version = "3.11"
